/* Canvas CSS Shim, by Trevor Reynolds
   Use in conjunction with Canvas JS Shim
   For use in "User Javascript and CSS" Browser addon / plugin 
   Select "https://rmit.instructure.com/courses" to effect just course pages.  
*/

/* Reduce oversized text (code) in pre elements */
pre {
  font-size: inherit !important;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  --ic-brand-global-nav-ic-icon-svg-fill--active: #A11;
  --ic-brand-global-nav-ic-icon-svg-fill: #07E;
  --ic-link-color: #07E;
  --ic-ltgr-color: #CCC;
}

body a {
  color: var(--ic-link-color);
}

#breadcrumbs,
.header-bar {
  background-color: rgba(0,0,0,0);
}

/* 20191020: Nav links dopegrade fix */
nav #section-tabs i.nav-icon.icon-off {
  position: absolute;
  right: 15px;
  color: var(--ic-ltgr-color);
  transform: scale(0.7); 
}
/* Transparent elements, no BG color set */
div.entry-content {
  background-color: white;
}

/* Allows content to grow on screens larger than 640 x 480 */
#content-wrapper {
  width:100% !important;
  max-width: 100% !important;
  height: auto;
}

/* 20200628: New styles needed to get #main children aligned */
/* Makes Course Navigation Area (CNA) fixed position elements */
/* 20200628: Updates to restore positioning and stickiness in WP2037 */

div.ic-app-course-menu, 
div#main {
  margin: 0px 2px;
  display:flex;
}

div#left-side {
  width:180px;
  max-width:180px;
  box-sizing: border-box;
  display: flex;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
}
/* 20211018: Canvas new sticky and padding override */
div.ic-sticky-frame {
  padding:2px;
  position: static;
}

div#left-side.ic-app-course-menu.list-view li {
  /* width: calc(100% - 10px); */
}

div#not_right_side {
  /*width: calc(100% - 200px);
    max-width: calc(100% - 200px); */
  display: flex;
  box-sizing: border-box;
  align-self: flex-start; /* <-- this is the fix */
}

/* Makes Secondary Items Area (SIA) area a fixed position botttom right corner, expand on hover.*/
#not_right_side #right-side-wrapper {
  box-sizing: border-box;
  position: fixed;
  z-index: 12 !important;
  overflow-y: hidden;
  padding:2px;
  bottom: 0px;
  right: 0px;
  text-align: left;
  width: 95px;
  height: 40px;
  background-color: #51d2ff38;
  transition: all 0.4s;
  border-color: #51d2ff;
  border-width: 4px 0px 0px 4px;
  border-radius: 10px 0px 0px 0px;
  border-style: ridge groove groove ridge;
}
#not_right_side #right-side-wrapper:hover {
  height:100vh;
  background-color: #f6f5f666;
  overflow-y: auto;
  width: 280px;
  border-width: 0px 0px 0px 4px;
  border-radius: 0px;
  background-color: #FFFD;
}

/* Reduces footprint of CNA and SIA links and makes them 'squarer' too */
#left-side li.section a,
#course_show_secondary a,
#course_show_secondary button {
  border-radius: 5px;
  border: 1px var(--ic-ltgr-color) solid;
  padding:3px 20px 2px;
  margin: 1px;
  color: black;
  background-color: white;
}

#left-side li.section a.active {
  color:white;
  background-color: var(--ic-brand-global-nav-ic-icon-svg-fill--active);
}

#left-side li.section a:hover {
  color: black;
  background-color: var(--ic-ltgr-color);
  text-decoration: none;
}

.left-side * {
  box-sizing: border-box;
}

div.menu-item__text,
div.menu-item__text::after {
  z-index:1000;
}

/* Moves pop-down search to the left so that navigation is not covered */
#discussion-toolbar .headerBar {
  left: 180px;
}

/* Removes the elipsed CNA course description
  20200628: extra styles applied: display:none not working, alt hide approach */
#section-tabs-header-subtitle {
  visibility: hidden;
  position: absolute;
}

/* Make modules hover state light green to match */
div.ig-list .ig-row:hover {
  background-color: #efe;
}

/* Assignment_Show width is same as parent, content is clipped */
div#assignment_show {
  width:100%;
}

/* RHS slide in link editor too narrow */
.fLzZc_bQpq.fLzZc_doqw, .fLzZc_bxia.fLzZc_doqw {
  min-width: 50vw;
}

/* Pages editor: Canvas sets tiny-mce editor height to just 400px at run time, !important override to a more practical height in all but the discussion threads */
:not(.reply-textarea) + div.tox-tinymce {
  height: calc(100vh - 435px) !important;  
}

/* Please go away ...
- racing car flags
- rubric triangles and 
- rubric marked/selected cell bars 
- other helpful stuffs that take up room or gets in the way */
.walkme-in-wrapper,
.ui-widget-content .gradebook-tooltip,
div.discussions-v2__container-image,
div.shader.meetsMasteryShader,
div.shader.nearMasteryShader,
div.shader.wellBelowMasteryShader,
div#replacement_notice_mount_point,
div.customFlash.ic-flash-warning.undefined,
#content div.prompt-banner.CES_SP4_2019,
.triangle {
  display:none;
}

/******** All Grade Center Styles ********/

nav#gradebook_header_container {
  overflow: visible;
  position: fixed;
  top: 25px;
  z-index: 3;
  width: 99vw;	
}

/* Allows Gradebook marks table to grow on screens larger than 640 x 480 */
#gradebook_wrapper {
	width:calc(100vw - 100px);
}
div#gradebook-toolbar {
  display: inline-flex;
}
div#gradebook-toolbar div.gradebook-menus {
  margin-left:5px;
}
div#gradebook-actions {
  white-space: normal; 
}
/* 20181021: Grade center table squashed, restoring full width and moving comment button */
.react-rubric table {
  table-layout: auto;
}
.react-rubric table tr th.rubric-criteria {
  width:300px;
}
.react-rubric table tr th.rubric-points {
  width:150px;
}
.react-rubric table tr td.criterion_points div:nth-child(2) {
  height:0px;
}
.react-rubric table tr td.criterion_points button {
  border: 1px var(--ic-ltgr-color) solid;
  position: relative;
  bottom: 38px;
  left: 70px;
  background-color: #fffd;
}

/* 20210520: Grade center ratings description getting crushed by obese criteria, not showing line feeds; these issues fixed */
table.rubric_table td.criterion_description {
  /* width: 25%; */
  min-width: 200px;
}
span.description.description_title,
div.description.react-rubric-cell span {
  white-space: pre-line;
  display: inline-block; 
}
span.description.description_title::first-line,
div.description.react-rubric-cell span::first-line {
  font-weight: bold;
}

/* Makes room for browser search box in Speed Grader */
body.grades.ic-no-flex-layout { 
  margin-top: 50px;
}  
body.grades.ic-no-flex-layout div#full_width_container { 
  margin-top: 10px;
} 

/* Stops content collision in Speed Grader */
#content #full_width_container {
  top:6.5em;
}

/* Reduces uneccessary scroll bar in ... Speed Grader? */
#left_side_inner {
  height: calc(100% - 2px) !important;
}

/* Sets marking area to 90% in Speed Grader */
#full_width_container #right_side {
  width:90%;
}

/* Student and assignment dropdown filters too wide */
div#gradebook_app + div {
  display: inline-flex !important;
}

/* Rubric edit also squashed */
#assignment_show, #rubrics {
  width: calc(100vw - 350px);
}
/* Ratings space not shared equally beyond column 5, removing arbitrary 20% width */
table.ratings td.rating {
  /* width: inherit; */
  overflow-y: auto;
  height: fit-content;
}

/* Grade center cell tweaks: whitespace and order */
div.Grid__GradeCell__StartContainer:first-child {
  display: none;
}
div.Grid__GradeCell__Content {
  margin-left:25px;
}
div.Grid__GradeCell__Content span.Grade {
  display: inline-block;
  width: 40px;
  text-align: center;
}
/* Stange indent for student names */
div.student-name {
  padding-left:0;
}

/* Dropdown box hard width override : WIP */
#students_selectmenu a#students_selectmenu-button {
  width: fit-content !important;
  background-color: #f99;
}

/* Speedy grader link */
div.Grid__GradeCell__Options {
  background-color:#cee8f9;
  width:25px;
  position:absolute;
  left:0px;
}

/* Rework rubric selected/mastery cells */
div.rating-tier.selected {
  background-color:#0994;
}

/* Grade Center Beta Styles*/
#gradebook-toolbar .gradebook-menus {
  margin-left: 300px;
}
#search-filter-container {
  position: absolute;
  left:0px;
}
div.student-name {
  font-size: 12px;
}
div.secondary-info {
  font-size: 14px;
  padding: 2px;
}

/* make speed grader drop down larger and tighten up padding inside */
#students_selectmenu-menu {
  height: calc(100vh - 110px) !important;
  max-height: initial !important;
}
#students_selectmenu-menu li.ui-selectmenu-hasIcon {
  padding: 0px;
}

/* make non submitted students smaller and right shifted */
li.not_submitted.ui-selectmenu-hasIcon {
  transform: 
    scale(0.66)
    translateX(35px);
  transform-origin: 0px 50%;
  width:150%;
}

/* make marked students smaller and right shifted */
li.graded.ui-selectmenu-hasIcon {
  transform: 
    scale(0.66)
    translateX(35px);
  transform-origin: 0px 50%;
  width:150%;
}

/* Grade center notes column popup shift shrink translucencify */
.dontblur {
  opacity: 0.7;
  transform: scale(0.316);
  transform-origin: 0px 0px;
}
.dontblur textarea,
.dontblur button
{
  font-size: 316%;
  line-height:1.2;
  opacity: 1;
}
.ui-widget-overlay {
  opacity:0.2;
}

/* 20210626: Resize short comment box in Speed Grader */
textarea#speed_grader_comment_textarea {
  min-height:30rem;
}

/* 20210930: Make the useful buttons in rubric wider */
#rubric_holder button.save_rubric_button.Button {
  width: 100%;
  margin-bottom: 5px;
}
div.ic-Action-header > div.ic-Action-header__Primary {
  flex-grow: 0;
}
div.ic-Action-header > div.ic-Action-header__Primary > * {
  display: inline-block;
}
div.ic-Action-header__Secondary {
  display: inline-block;
  flex-grow: 1;
}
button#comment_submit_button.Button {
  width: calc(100%);
}
button.toggle_full_rubric.edit.btn {
  width: 100%;
}
div#rubric_assessments_list_and_edit_button_holder div.button-container {
  width: 100%;
}

/* Disable curve marks submit button, outside form for some reason */
form#curve_grade_dialog + div {
  display:none;
}


/* 20180308: Walkmein widget that gets in the way has stubborn !important styles that make it hard to remove ... */
#walkme-player {
  clip:rect(0px,0px,0px,0px);;
}

/* Removes rubric "lightbox" background so markers can scroll the document when marking. */
.ui-widget-overlay {
  display: none;
}

/* 20210521 Shelved: Speed Grader: Replace long description pop up link with actual long description text
.long_description_link {
  display:none; 
  border: dotted red 2px;
}
div.long-description {
  border: 2px dotted red;
  padding:5px;
} 
div.long-description span {
  border: 2px dotted green;
  padding:5px;
}
span[aria-label="Criterion Long Description"] {
  border: 2px dotted purple;
  padding:5px;
}
*/

/******** End Grade Center Styles ********/



/******** All Discussion Board Styles ********/

/* All Discussion Entries Container */
div#discussion_subentries {
  padding:0px;
  margin-top:20px;
}

/* All Discussion Entries List */
div#discussion_subentries > ul.discussion-entries {
  margin:0px;
}

/* Single Conversation and Replies Block */
div#discussion_subentries > ul.discussion-entries > li.entry {
  padding:15px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  border-top: 4px dotted #dc291e;
}

/* Starting Conversation */
div#discussion_subentries > ul.discussion-entries > li.entry > article.discussion_entry > div.entry-content {
  background-color:#F3F9FF;
}

/* Remove Border on Mid Nested Containers  */
div#discussion_subentries li.entry {
  border-width: 0px;
}

/* Single Reply Block in a Conversation */
div#discussion_subentries article.discussion_entry {
  border: 1px solid var(--ic-ltgr-color);
  border-left-width:10px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
}

/* Dynamic Style Override: Content Inside Single Reply Block */
div#discussion_subentries article.discussion_entry div.entry-content {
  padding-left:20px !important;
}

/* Replies Recursive Indentation */
div#discussion_subentries ul {
  margin: 0 0 0 10px;
}
/* Allow unread badge to grow and fit content */
span.ic-unread-badge {
  width: max-content;
}

/* Move Read / Unread Indicator into Reply Block */
a.discussion-read-state-btn {
  position: absolute;
  left:0px;
}

/* Make Read / Unread Indicator more visible */
div.discussion-read-state,
.read div.discussion-read-state {
  width: 30px;
  height:30px;
  top:-17px; 
  left:-13px;
  border-radius: 0 0 30px 0;
  border-color: var(--ic-ltgr-color);
}

/* Discussion titles crunch fix */
.ic-discussion-content-container > span > span > span:first-child {
  flex: unset;
  width: calc(100% - 85px);
}
.ic-discussion-content-container > span > span > span:last-child {
  flex: unset;
  width: 85px;
}
.discussion-availability.ic-item-row__content-col.ic-discussion-row__content {
  width: 290px;
  position: absolute;
  left: 50px;
  bottom: 0px;
  font-size: 80%;
  text-align: left;
}

/******** End Discussion Board Styles ********/



/******** All Groups Allocation Styles ********/

/* Cleanup layout, place students and groups on one page */

div#group_categories_tabs  {
  position: sticky;
  top: 0px;
  height: calc(100vh - 110px);
  /* overflow-y: clip; <-- 20220403: Cant scroll to see all people. */
}

div#group_categories_tabs div.unassigned-students {	
  float: initial;
  height: calc(100vh - 260px);
  overflow-y: scroll;
}
div#group_categories_tabs div.unassigned-students + div {
  /*border: purple solid 2px;*/
  height: calc(100vh - 260px);
  overflow-y: scroll;
}

/* Tightenup up groups layout, release realestate */
div.unassigned-students > div {
  min-width:200px !important;
}
div.group-user-name.ellipsis {
  text-overflow: clip;
  max-width: calc(100% - 22px);
}
.group-user.ui-draggable {
  max-width: 100%;
  font-size: 9pt;
  padding: 0px;
  line-height: 25px;
  margin-bottom:1px;
}
div.ui-cnvs-scrollable {
  overflow-y: initial;
  height: initial !important;
}
.group div.group-users ul.collectionViewItems {
  overflow: initial;
}
.collectionViewItems.groups-list li {
  padding: 0.5em 0;
}

/* People: assigning students crush fix */  
div.group-category-contents > div.row-fluid 
{
  display: flex;
  column-gap: 10px;
}
div.group-category-contents > div.row-fluid > div.unassigned-students.ui-droppable
{
  width: clamp(300px, 300px, 300px);
}
div.row-fluid div.span9.groups {
  width: calc(100vw - 600px);
  margin-left: 0px;
}
.group div.group-users {
  margin-top:0px;
}
.group .group-users ul.collectionViewItems {
  width: calc(100% - 5px);
  overflow: auto;
  columns: 240px;
  column-gap: 2px;
}
ul.collectionViewItems li.group-user {
  padding: 0px;
  margin: 0px 0px 2px 0px;
 
}
/* allocated students */
.group li.group-user {
  width:calc(100% - 2px);
  display: inline-block;
  float: none;
}
/* Columns causing bad li internal reflow */
.group li.group-user div.group-user-name {
  display: inline-block;
  max-height:22px;
}

/******** End Groups Allocation Styles ********/




/* Quiz Styles */
.answer_arrow.info {
  background-color: #00ac18;
  right: 5px;
  left: auto !important;
  border-radius: 5px;
  color:white !important;
  padding:0px 10px;
}
.answer_arrow.info,
.answer_arrow.info::before,
.answer_arrow.info::after
{
  background-size: 0px 0px;
}
.answer.correct_answer {
  background-color:#e5ffe8;
}
.answer input[type=text] {
  width: calc(100% - 150px);
}

/* Emble Editor: oversize and overlap fix */
#emble-interface {
  padding: 5px;
  transform-origin: 0 0;
  transform: scale(0.8);
  position: sticky;
  transition: 0.2s;
  height: 150px;
  box-shadow: 0px 0px 1px 2px var(--ic-ltgr-color);
  overflow: hidden;
}
#emble-interface:hover {
  height: calc( (100vh - 150px) / 0.8);
}
