/* Canvas CSS Shim, by Trevor Reynolds
   Use in conjunction with Canvas JS Shim
   For use in "User Javascript and CSS" Browser addon / plugin 
   Select "https://rmit.instructure.com/courses" to effect just course pages.  
*/

/* Transitions too slow, turn off */
:root {
  transition: 1ms;
}

/* Reduce oversized text (code) in pre elements */
pre {
  font-size: inherit !important;
}


/* 20220621: RMIT brand red too bright, not everything uses RMIT brand navy, RMIT brand cyan has poor WAG2.0 */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  --ic-brand-global-nav-ic-icon-svg-fill--active: #A11;
  --ic-brand-global-nav-logo-bgd: #A11;
  --enRcg-dangerColor: #A11;
  --ic-brand-global-nav-ic-icon-svg-fill: #000054;
  --ic-link-color: #000054;
  --ic-ltgr-color: #CCC;
  --tr-bg-color: #ffffff;
  --fbyHH-color: #000054;
  --fLzZc-smallWidth: 50vw;
  height: initial;
  min-height: initial;
}

/* Grade center has too many "min-height"ed elements creating scroll bars */
body.grades,
div#application,
div#main,
div#wrapper {
  min-height: initial;
}

body a {
  color: var(--ic-link-color);
}

#application {
  background-color: var(--tr-bg-color);
}

/* 20220514: Poor icon contrast */
#application svg {
  fill: var(--ic-brand-global-nav-ic-icon-svg-fill); 
}
/* 20220625: Someone decided to stick in !important non-var values */
body li.ic-app-header__menu-list-item--active div.menu-item-icon-container svg {
  fill: var(--ic-brand-global-nav-ic-icon-svg-fill--active) !important;
}
body li.ic-app-header__menu-list-item--active div.menu-item__text {
  color: var(--ic-brand-global-nav-ic-icon-svg-fill--active) !important;
}

span.menu-item__badge {
  color: white;
  background-color: var(--ic-brand-global-nav-ic-icon-svg-fill--active);
}

#breadcrumbs,
.header-bar {
  background-color: rgba(0,0,0,0);
}

/* 20191020: Nav links dopegrade fix */
nav #section-tabs i.nav-icon.icon-off {
  position: absolute;
  right: 15px;
  color: var(--ic-ltgr-color);
  transform: scale(0.7); 
}
/* Transparent elements, no BG color set */
div.entry-content {
  background-color: white;
}


/* 20220625: Some kludger is having a fun 'CK' day */
body:not(.full-width):not(.outcomes):not(.body--login-confirmation) div.ic-Layout-wrapper {
  max-width: initial;
}

/* Allows content to grow on screens larger than 640 x 480 */
#content-wrapper {
  width:100% !important;
  max-width: 100% !important;
  height: auto;
}


/* 20200628: New styles needed to get #main children aligned */
/* Makes Course Navigation Area (CNA) fixed position elements */
/* 20200628: Updates to restore positioning and stickiness in WP2037 */

div.ic-app-course-menu, 
div#main {
  margin: 0px 2px;
  display:flex;
}

div#left-side {
  width:200px;
  max-width:200px;
  box-sizing: border-box;
  display: flex;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
}
/* 20211018: Canvas new sticky and padding override */
/* 20220330: More override! */
div.ic-sticky-frame {
  padding:2px;
  position: static;
}
div#sticky-container {
  padding: 2px;
}
div#left-side.ic-app-course-menu.list-view li {
  /* width: calc(100% - 10px); */
}

div#not_right_side {
  background-color: transparent !important;  
  display: flex;
  box-sizing: border-box;
  align-self: flex-start; /* <-- this is the fix */
}

/* Makes Secondary Items Area (SIA) area a fixed position botttom right corner, expand on hover.*/
#not_right_side #right-side-wrapper {
  box-sizing: border-box;
  position: fixed;
  bottom:0px;
  z-index: 12 !important;
  overflow-y: hidden;
  padding:2px;
  left: calc(100vw - 30px);
  text-align: left;
  transition: all 0.4s;
  background-color: white;
  border-color: #51d2ff;
  border-width: 4px 0px 0px 4px;
  border-radius: 10px 0px 0px 0px;
  border-style: ridge groove groove ridge;
}
#not_right_side #right-side-wrapper:hover {
  overflow-y: auto;
  left: calc(100vw - 300px);
  border-radius: 0px;
}

/* Reduces footprint of CNA and SIA links and makes them 'squarer' too */
#left-side li.section a,
#course_show_secondary a,
#course_show_secondary button {
  border-radius: 5px;
  border: 1px var(--ic-ltgr-color) solid;
  padding:3px 20px 2px;
  margin: 1px;
  color: black;
  background-color: white;
}

#left-side li.section a.active {
  color:white;
  background-color: var(--ic-brand-global-nav-ic-icon-svg-fill--active);
}

#left-side li.section a:hover {
  color: black;
  background-color: var(--ic-ltgr-color);
  text-decoration: none;
}

.left-side * {
  box-sizing: border-box;
}

div.menu-item__text,
div.menu-item__text::after {
  z-index:1000;
}

/* Moves pop-down search to the left so that navigation is not covered */
#discussion-toolbar .headerBar {
  left: 180px;
}

/* Removes the elipsed CNA course description
  20200628: extra styles applied: display:none not working, alt hide approach */
#section-tabs-header-subtitle {
  visibility: hidden;
  position: absolute;
}

/* Make modules hover state light green to match */
div.ig-list .ig-row:hover {
  background-color: #efe;
}

/* Assignment_Show width is same as parent, content is clipped */
div#assignment_show {
  width:100%;
}

/* RHS slide in link editor too narrow */
.fLzZc_bQpq.fLzZc_doqw, .fLzZc_bxia.fLzZc_doqw {
  width: 50vw;
  max-width: 600px;
}

/* Pages editor: Canvas sets tiny-mce editor height to just 400px at run time, !important override to a more practical height in all but the discussion threads */
:not(.reply-textarea) + div.tox-tinymce {
  height: calc(100vh - 435px) !important;  
}

/* Please go away ...
- racing car flags
- rubric triangles and 
- rubric marked/selected cell bars 
- unfixed grade centre bug warnings
- other helpful stuffs that take up room or gets in the way */
.walkme-in-wrapper,
.ui-widget-content .gradebook-tooltip,
div.ic-flash-warning.progressiveAlert, 
div.discussions-v2__container-image,
div.shader.meetsMasteryShader,
div.shader.nearMasteryShader,
div.shader.wellBelowMasteryShader,
div#replacement_notice_mount_point,
div.customFlash.ic-flash-warning.undefined,
#content div.prompt-banner.CES_SP4_2019,
.triangle {
  display:none;
}

/******** All Grade Center & Rubric Styles ********/
/* 20230219: Recent updates are conflicting with these styles, but many issues seem to have been fixed so much may be redundant */

/* 20241112: Make rubric in assignment pages printer friendly */
table.rubric_table {
  page-break-before: always;
}
table.rubric_table tr {
  page-break-inside: avoid; 
}

/* 20250207: Grade center column headings offset by empty sibling spans, removing them */
div.slick-header-column.assignment div.Gradebook__ColumnHeaderContent > div > span > span > span:nth-child(2n+1) {
   max-width:10px;
}

/* 20230219: Keeps dropdowns to a reasonable size and left aligned. */
div#gradebook-toolbar,
div#gradebook_app {
  display: flex;
  width: fit-content;
}
/* 20230629: To clear browser search box */
nav#gradebook_header_container {
 padding-top: 35px;
}

span.description.description_title,
div.description.react-rubric-cell span {
  white-space: pre-line;
  display: inline-block; 
}
span.description.description_title::first-line,
div.description.react-rubric-cell span::first-line {
  font-weight: bold;
}

/* Makes room to search for students in browser search box in Speed Grader */
body.grades.ic-no-flex-layout { 
  margin-top: 50px;
}  
body.grades.ic-no-flex-layout div#full_width_container { 
  margin-top: 10px;
} 

/* Reduces submission area from 90% to 50% in Speed Grader */
#full_width_container #right_side {
  width: 50%; /* was 90% */
}

/* Dropdown box hard width override : WIP */
#students_selectmenu a#students_selectmenu-button {
  width: fit-content !important;
  background-color: #f99;
}

/* Make whole rubric selected/mastery cells cyan*/
div.rating-tier.selected {
  background-color:#0994;
}

/* Speed Grader students drop down list, make it longer and tighten up padding inside */
#students_selectmenu-menu {
  height: calc(100vh - 110px) !important;
  max-height: initial !important;
}
#students_selectmenu-menu li.ui-selectmenu-hasIcon {
  padding: 0px;
}

/* make non submitted students smaller and right shifted */
li.not_submitted.ui-selectmenu-hasIcon {
  transform: 
    scale(0.66)
    translateX(35px);
  transform-origin: 0px 50%;
  width:150%;
}

/* make marked students smaller and right shifted */
li.graded.ui-selectmenu-hasIcon {
  transform: 
    scale(0.66)
    translateX(35px);
  transform-origin: 0px 50%;
  width:150%;
}

/* 20210626: Resize short comment box in Speed Grader */
textarea#speed_grader_comment_textarea {
  min-height:30rem;
}
div.quiz_comment {
  display: block !important;
  width:calc(100% - 90px);
}
/* 20231128: Remove gap between mark and speedgrader link in mark cell */
div.Grid__GradeCell__EndContainer > span.Grid__GradeCell__EndText {
  display: none;
}

/* 20210930: Make the useful buttons in rubric wider */
#rubric_holder button.save_rubric_button.Button,
button#comment_submit_button.Button {
  width: 100%;
  margin-bottom: 5px;
}
div.ic-Action-header > div.ic-Action-header__Primary {
  flex-grow: 0;
}
div.ic-Action-header > div.ic-Action-header__Primary > * {
  display: inline-block;
}
div.ic-Action-header__Secondary {
  display: inline-block;
  flex-grow: 1;
}
button#comment_submit_button.Button {
  width: calc(100%);
}
button.toggle_full_rubric.edit.btn {
  width: 100%;
}
div#rubric_assessments_list_and_edit_button_holder div.button-container {
  width: 100%;
}

/* Disable curve marks submit button, outside form for some reason */
form#curve_grade_dialog + div {
  display:none;
}

/*20180308: Walkmein widget that gets in the way has stubborn !important styles that make it hard to remove ... */
#walkme-player {
  clip:rect(0px,0px,0px,0px);;
}

/* Removes rubric "lightbox" background so markers can scroll the document when marking. */
.ui-widget-overlay {
  display: none;
}

/******** End Grade Center Styles ********/


/******** NEW Discussion Board Styles ********

div[data-testid="discussion-root-entry-container"] > div {
  
  & div[data-testid="notHighlighted"] > div {
    border: var(--ic-ltgr-color) solid thin;
    background: #F3F9FF;
    padding: 5px;
    

  }
  & div[data-testid="notHighlighted"] {
    & div[data-testid="notHighlighted"]  {
      background: #FFE;
    }
  }
  
  & span[class$="-view--block"] {
    display: relative;
    top: 20px;
  }
  
  .ccss-tau4h7-view--inlineBlock-badge {
    position: relative;
    left: -17px;
    top:-34px;
    width: 2rem;
    height: 2rem;
    border-radius: 0 0 100% 0;
  }
}


/******** END NEW Discussion Board Styles ********/


/******** OLD Discussion Board Styles ********/

/* All Discussion Entries Container 
div#discussion_subentries {
  padding:0px;
  margin-top:20px;
}

/* All Discussion Entries List 
div#discussion_subentries > ul.discussion-entries {
  margin:0px;
}

/* Single Conversation and Replies Block 
div#discussion_subentries > ul.discussion-entries > li.entry {
  padding:15px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  border-top: 4px dotted #dc291e;
}

/* Starting Conversation 
div#discussion_subentries > ul.discussion-entries > li.entry > article.discussion_entry > div.entry-content {
  background-color:#F3F9FF;
}

/* Remove Border on Mid Nested Containers  
div#discussion_subentries li.entry {
  border-width: 0px;
}

/* Single Reply Block in a Conversation 
div#discussion_subentries article.discussion_entry {
  border: 1px solid var(--ic-ltgr-color);
  border-left-width:10px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
}

/* Dynamic Style Override: Content Inside Single Reply Block 
div#discussion_subentries article.discussion_entry div.entry-content {
  padding-left:20px !important;
}

/* Replies Recursive Indentation 
div#discussion_subentries ul {
  margin: 0 0 0 10px;
}
/* Allow unread badge to grow and fit content 
span.ic-unread-badge {
  width: max-content;
}

/* Move Read / Unread Indicator into Reply Block 
a.discussion-read-state-btn {
  position: absolute;
  left:0px;
}

/* Make Read / Unread Indicator more visible 
div.discussion-read-state,
.read div.discussion-read-state {
  width: 30px;
  height:30px;
  top:-17px; 
  left:-13px;
  border-radius: 0 0 30px 0;
  border-color: var(--ic-ltgr-color);
}

/* Discussion titles crunch fix 
.ic-discussion-content-container > span > span > span:first-child {
  flex: unset;
  width: calc(100% - 85px);
}
.ic-discussion-content-container > span > span > span:last-child {
  flex: unset;
  width: 85px;
}
.discussion-availability.ic-item-row__content-col.ic-discussion-row__content {
  width: 290px;
  position: absolute;
  left: 50px;
  bottom: 0px;
  font-size: 80%;
  text-align: left;
}

/******** End OLD Discussion Board Styles ********/


/******** Assignment Editor Styles ********/

#graded_assignment_fields {
  & .form-column-right {
    width: calc(100vw - 600px);
  }
  & .input-append {
    display: block;
  }

}

#overrides-wrapper {
  & div.overrides-column-right {
    width: calc(100vw - 600px);  
  }
  & div.from,
  & div.to {
    flex: 1;
  }
  & input {
    flex:1;
  }

}

  div.Available-from-to > div {
    flex: 1;
  }
  div.input-append {
    display: block !important;
    & input {
      width: 200px;
    }
  }

/******** End Assignment Editor Styles ********/


/******** All Groups Allocation Styles ********/

/* Cleanup layout, place students and groups on one page */

div#group_categories_tabs  {
  position: sticky;
  top: 0px;
  height: calc(100vh - 110px);
  /* overflow-y: clip; stopping scroll load */
}

div#group_categories_tabs div.unassigned-students {	
  float: initial;
  height: calc(100vh - 260px);
  overflow-y: scroll;
}
div#group_categories_tabs div.unassigned-students + div {
  /*border: purple solid 2px;*/
  height: calc(100vh - 260px);
  overflow-y: scroll;
}

/* Tightenup up groups layout, release realestate */
div.unassigned-students > div {
  min-width:200px !important;
}
div.group-user-name.ellipsis {
  text-overflow: clip;
  max-width: calc(100% - 22px);
}
.group-user.ui-draggable {
  max-width: 100%;
  font-size: 9pt;
  padding: 0px;
  line-height: 25px;
  margin-bottom:1px;
}
div.ui-cnvs-scrollable {
  overflow-y: initial;
  height: initial !important;
}
.group div.group-users ul.collectionViewItems {
  overflow: initial;
}
.collectionViewItems.groups-list li {
  padding: 0.5em 0;
}

/* People: assigning students crush fix */  
div.group-category-contents > div.row-fluid 
{
  display: flex;
  column-gap: 10px;
}
div.group-category-contents > div.row-fluid > div.unassigned-students.ui-droppable
{
  width: clamp(300px, 300px, 300px);
}
div.row-fluid div.span9.groups {
  width: calc(100vw - 600px);
  margin-left: 0px;
}
.group div.group-users {
  margin-top:0px;
}
.group .group-users ul.collectionViewItems {
  width: calc(100% - 5px);
  overflow: auto;
  columns: 240px;
  column-gap: 2px;
}
ul.collectionViewItems li.group-user {
  padding: 0px;
  margin: 0px 0px 2px 0px;
 
}
/* allocated students */
.group li.group-user {
  width:calc(100% - 2px);
  display: inline-block;
  float: none;
}
/* Columns causing bad li internal reflow */
.group li.group-user div.group-user-name {
  display: inline-block;
  max-height:22px;
}

/******** End Groups Allocation Styles ********/




/* Quiz Styles */
.answer_arrow.info {
  background-color: #00ac18;
  right: 5px;
  left: auto !important;
  border-radius: 5px;
  color:white !important;
  padding:0px 10px;
}
.answer_arrow.info,
.answer_arrow.info::before,
.answer_arrow.info::after
{
  background-size: 0px 0px;
}
.answer.correct_answer {
  background-color:#e5ffe8;
}
.answer input[type=text] {
  width: calc(100% - 150px);
}

/* Emble Editor: oversize and overlap fix */
#emble-interface {
  padding: 5px;
  transform-origin: 0 0;
  transform: scale(0.8);
  position: sticky;
  transition: 0.2s;
  height: 150px;
  box-shadow: 0px 0px 1px 2px var(--ic-ltgr-color);
  overflow: hidden;
}
#emble-interface:hover {
  height: calc( (100vh - 150px) / 0.8);
}
